<template name="add_project">
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Create Event</h2>
                <form class="add_project_form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Event Title">
                    </div>
                     <div class="form-group">
                         <label>Date and Time</label>
                        <div class='input-group datetimepicker' id='datetimepicker'>
                            <input type='text' class="set-due-date form-control eventDate" id="eventDate" />
                            <span class="input-group-addon">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Client</label>
                        <input type="text" class="form-control" id="client" name="client" placeholder="Client Name">
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" id="type" name="type" placeholder="Project Type">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Project Image</label>
                        <input type="file" name="projectImage" id="projectImage">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/admin/projects" class="btn btn-default">Go Back</a>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</template>
