<template name="footer">
  <div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Our Clinic</h4>
        <p>
          Some Address 987,<br/>
          +91 9054 5455, <br/>
          Bangalore, India.
        </p>
      </div><!-- /col-lg-4 -->

      <!--<div class="col-lg-4">

      </div> /col-lg-4 -->

      <div class="col-lg-4 clearfix">
        <h4>P21</h4>
        <p>Driving Value. Phase 2 before Phase 1.</p>
      </div><!-- /col-lg-4 -->

    </div>

  </div>
</div>
</template>
