<template name="edit_client">
  {{#autoForm collection="Clients" id="edit_client_form" type="update" doc=selectedClient}}
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Edit client <small>({{name}})</small> </h2>
                    <div class="form-group">
                        {{>afQuickField name='name'}}
                    </div>
                    <div class="form-group">
                        {{>afQuickField name='email'}}
                    </div>
                    <div class="form-group">
                        {{>afQuickField name='phone'}}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/admin/clients" class="btn btn-default">Go Back</a>
            </div>
        </div>
    </div>
    {{/autoForm}}

</template>
