<template name="list_clients">

  <div class="container pt">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="input-group">
          {{> esInput index="clients" placeholder="Search Clients..." class="form-control search_text" event="enter" allDocsOnEmpty=true}}
          <span class="input-group-btn">
            <button type="button" name="search_button" id="search_button" class="btn btn-default search_glow">Search</button>
          </span>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <h3>Your Clients</h3>
             <a href="/admin/clients/add" class="btn btn-default btn-tiny footer-icons pull-right">
               <i class="glyphicon glyphicon-plus"></i> Add a Client</a>
              <br><br>
          </div>
      </div>
      <!-- /row -->
  </div>
  <!-- /container -->

  <div class="container pt">
    <div class="row">
        {{#esEach index="clients"}}
        <div class="col-lg-4 col-md-4 col-sm-12">
        <a href="/admin/clients/{{_id}}/edit" class="card-hover">
          <div class="panel panel-default client-card">
            <div class="panel-heading">
              <h3 class="panel-title client-card-header">{{name}}</h3>
            </div>
            <div class="panel-body">
              <p>
                {{phone}}
              </p>
              {{email}}
            </div>
            <div class="panel-footer">
              Panel footer
            </div>
          </div>
      </a>
      </div>
      {{/esEach}}


    </div>
    <div class="search-controls">
      {{> esLoadMoreButton index="clients" howMany=20}}
    </div>

    {{#ifEsHasNoResults index="clients"}}
      <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}

    {{#ifEsIsSearching index="clients"}}
      <div>Loading...</div>
    {{/ifEsIsSearching}}
  </div>

</template>
