<template name="list_clients">

  <div class="container pt">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="input-group">
          {{> esInput index="clients" placeholder="Search Clients..." class="form-control search_text" event="enter" allDocsOnEmpty=true}}
          <span class="input-group-btn">
            <button type="button" name="search_button" id="search_button" class="btn btn-default search_glow">Search</button>
          </span>
        </div>
      </div>
    </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <h3>Your Clients</h3>
             <a href="/admin/clients/add" class="btn btn-default btn-tiny footer-icons pull-right">
               <i class="glyphicon glyphicon-plus"></i>
               <span class="hidden-xs">Add a Client</span></a>
              <br><br>
          </div>
      </div>
      <!-- /row -->
  </div>
  <!-- /container -->

  <div class="container pt">
    <div class="row">
        {{#esEach index="clients"}}
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="panel panel-default client-card">
              <div class="panel-heading">
                  <h3 class="panel-title client-card-header">{{name}}</h3>
                </div> <!-- panel-heading -->
              <a href="/admin/clients/{{_id}}/edit" class="card-hover">
                <div class="panel-body">
                  <p>
                    {{phone}}
                  </p>
                  {{email}}
                </div> <!-- panel body -->
              </a>
              <div class="panel-footer">
                  <a href="/admin/events/add" id="add_event"
                  class="btn btn-default btn-tiny footer-icons ">
                    <i class="glyphicon glyphicon-calendar"></i>
                    <span class="hidden-xs hidden-sm hidden-md small">Schedule</span>
                  </a>

                  <a href="/admin/events/add" id="add_event"
                  class="btn btn-default btn-tiny footer-icons ">
                    <i class="glyphicon glyphicon-paperclip"></i>
                    <span class="hidden-xs hidden-sm hidden-md small">Attach</span>
                  </a>

                  <a href="tel:{{phone}}" id="external_call"
                  class="btn btn-default btn-tiny footer-icons pull-right">
                    <i class="glyphicon glyphicon-earphone"></i>
                    <span class="hidden-xs hidden-sm hidden-md small">Call</span>
                  </a>

                  <a href="/admin/events/add" id="add_event"
                  class="btn btn-default btn-tiny footer-icons ">
                    <i class="glyphicon glyphicon-comment"></i>
                    <span class="hidden-xs hidden-sm hidden-md small">Message</span>
                  </a>

                  <a href="/admin/events/add" id="add_event"
                  class="btn btn-default btn-tiny footer-icons ">
                    <i class="glyphicon glyphicon-credit-card"></i>
                    <span class="hidden-xs hidden-sm hidden-md small">Invoice</span>
                  </a>
            </div> <!-- panel footer -->
          </div> <!-- panel client-card -->
        </div><!-- col-lg-4 -->
      {{/esEach}}
    </div> <!-- row -->

    <div class="search-controls">
      {{> esLoadMoreButton index="clients" howMany=20}}
    </div>

    {{#ifEsHasNoResults index="clients"}}
      <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}

    {{#ifEsIsSearching index="clients"}}
      <div>Loading...</div>
    {{/ifEsIsSearching}}
  </div>
</template>
