<template name="smsModal">
  <div class="modal fade in" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" width="30%" height="50%">
    <div class="modal-dialog" style="width:auto;height:auto;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Message to Client</h4>
        </div>
        <div class="modal-body">
          <textarea class="img-responsive"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>
