<template name="timeline">
  <div class="container pt">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>Your Documents</h3>
        </div>
      </div>
    </div>
    <div class="container pt">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="timeline-badge">
              <i class="fa fa-camera inner-badge"></i>
          </div>
          <div class="panel panel-default client-card timeline-panel box-shadow--4dp">
            <div class="panel-heading">
              <h4 class="panel-title client-card-header">10th October 2015</h4>
            </div>
            <div class="panel-body">
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </div>
        <!--Next doc-->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="btn btn-large timeline-badge">
              <i class="fa fa-file inner-badge"></i>
              <p style="border-right:2px solid black"></p>
          </div>
          <div class="panel panel-default client-card box-shadow--4dp">
            <div class="panel-heading">
              <h4 class="panel-title client-card-header">10th October 2015</h4>
            </div>
            <div class="panel-body">
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </div>
        <!-- Next Doc-->
        <!--Next doc-->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="btn btn-large timeline-badge">
              <i class="fa fa-video-camera inner-badge"></i>
              <p style="border-right:2px solid black"></p>
          </div>
          <div class="panel panel-default client-card box-shadow--4dp">
            <div class="panel-heading">
              <h4 class="panel-title client-card-header">10th October 2015</h4>
            </div>
            <div class="panel-body">
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </div>
        <!-- Next Doc-->
        <!--Next doc-->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="btn btn-large timeline-badge">
              <i class="fa fa-music inner-badge"></i>
              <p style="border-right:2px solid black"></p>
          </div>
          <div class="panel panel-default client-card box-shadow--4dp">
            <div class="panel-heading">
              <h4 class="panel-title client-card-header">10th October 2015</h4>
            </div>
            <div class="panel-body">
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </div>
        <!-- Next Doc-->

        <!--Next doc-->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="btn btn-large timeline-badge">
              <i class="fa fa-link inner-badge"></i>
              <p style="border-right:2px solid black"></p>
          </div>
          <div class="panel panel-default client-card box-shadow--4dp">
            <div class="panel-heading">
              <h4 class="panel-title client-card-header">10th October 2015</h4>
            </div>
            <div class="panel-body">
              <p>Time line content is placed here...</p>
            </div>
          </div>
        </div>
        <!-- Next Doc-->
      </div>
    </div>
</template>
