<template name="edit_post">
  <div class="container pt">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Edit Post <small>{{title}}</small></h2>
          <form class="edit_post_form">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" name="title" id="title" class="form-control" value="{{title}}">
            </div>
            <div class="form-group">
              <label for="body">Body</label>
              <textarea name="body" id="body" class="form-control" value="{{body}}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/admin/posts" class="btn btn-default">Go Back</a>
          </form>
        </div>
    </div>
  </div>
</template>
